.title {
    background-color: darkred;
    color: #ffffff;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
 
}

ul {
    font-size: larger;
    text-align: center;
}

.gifcat {
    margin: auto;
    text-align: -webkit-center;
}
.bt{
    font-weight: bold;
    font-size: larger;
    
}
